body{
	background-color: rgba(42, 39, 34, 0.98);
	color: @color;
	font-family: sans-serif;
	font-size: @font-size;
}
* {
	box-sizing: border-box;
}
.container{
	padding: @gutter;
}
.h-fill{
	width: 100%;
}
body .hidden{
	display: none;
}
input, select, textarea{
	background-color: @bg-color;
	border: 1px solid @border-color;
	color: lighten(@color, 10%);
	font-size: @font-size;
	padding: 5px;
}