
.cm-s-gandalf.CodeMirror {
	background-color: transparent;
	color: @color;
	font-size: 15px;
}
.cm-s-gandalf {
  div.CodeMirror-selected {background: lighten(@bg-color, 16%) !important;}
  .CodeMirror-gutters {background: #151515; border-right: 0px;}
  .CodeMirror-linenumber {color: #505050;}
  .CodeMirror-cursor {border-left: 1px solid #b0b0b0 !important;}

  span.cm-comment {color: #8f5536;}
  span.cm-atom {color: #aa759f;}
  span.cm-number {color: #aa759f;}

  span.cm-property, span.cm-attribute {color: #90a959;}
  span.cm-string {color: #f4bf75;}

  span.cm-variable {color: #90a959;}
  span.cm-variable-2 {color: #6a9fb5;}
  span.cm-def {color: #d28445;}
  span.cm-bracket {color: #e0e0e0;}
  span.cm-tag {color: #ac4142;}
  span.cm-link {color: #aa759f;}
  span.cm-error {background: #ac4142; color: #b0b0b0;}

  .CodeMirror-activeline-background {background: #2F2F2F !important;}
  .CodeMirror-matchingbracket { text-decoration: underline; color: white !important;}
}

