.popup {
    background-color: var(--c3);
    position: absolute;
    width: 400px;
    margin-left: -200px;
    top: 4px;
    left: 50%;
    z-index: 100;
    box-shadow: 1px 5px 20px var(--c2);
}
.popup-title {
    padding-bottom: var(--p1);
    margin: 0;
}
