@result-gutter: 28px;
.editor {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: var(--editor-height);
}
.splitter {
	position: absolute;
	left: 0;
	right: 20px;
	top: var(--editor-height);
	height: 4px;
	margin-top: -4px;
	background-color: transparent;
	z-index: 90;
	cursor: row-resize;	
}
.result-gutter {
	position: absolute;
	left: 0;
	width: @result-gutter;
	right: 20px;
	top: var(--editor-height);
	bottom: 26px;
	background-color: darken(@bg-color, 4%);
}
.result {
	position: absolute;
	background-color: darken(@bg-color, 4%);
	left: 0;
	right: 0;
	top: var(--editor-height);
	bottom: 26px;
	overflow: auto;
	.spinner-loader {
		position: absolute;
		top: 60px;
		left: 50%;
	}
}
.table-head,
.table-body-rows {
	border-collapse: collapse;
	table-layout: fixed;
	width: 0;
	margin-top: -1px;
}
.table-body {
	overflow-y: scroll;
	position: absolute;
	top: 2.2rem;
	bottom: 0;
	left: 0;
}
.table th {
	cursor: pointer;	
}
.table td,
.table th {
	white-space: nowrap;
	border: 1px solid @border-color;
	margin: 0;
	overflow: hidden;
	padding: 8px;
}
.table-head th {
	padding: 8px;
	background-color: darken(@bg-color, 3%);
}
