@result-gutter: 28px;
.editor {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: var(--editor-height);
}
.splitter {
    position: absolute;
    left: 0;
    right: 20px;
    top: var(--editor-height);
    height: 4px;
    margin-top: -4px;
    background-color: transparent;
    z-index: 90;
    cursor: row-resize;
}
.result-gutter {
    position: absolute;
    left: 0;
    width: @result-gutter;
    right: 20px;
    top: var(--editor-height);
    bottom: 26px;
    background-color: darken(@bg-color, 4%);
}
.result {
    position: absolute;
    background-color: darken(@bg-color, 4%);
    left: 0;
    right: 0;
    top: var(--editor-height);
    bottom: 26px;
    overflow: auto;
    .spinner-loader {
        position: absolute;
        top: 44px;
        left: 50%;
    }
}
.shortcuts {
    color: #666;
    font-weight: 550;
    padding-top: 50px;
}
.shortcut-item {
    display: flex;
}
.shortcut-label {
    text-align: right;
    width: 50%;
    padding: 8px;
}
.shortcut-value {
    width: 50%;
    padding: 8px;
}
.table-head {
    height: 36px;
}
.table-head,
.table-body-rows {
    border-collapse: collapse;
    table-layout: fixed;
    width: 0;
    margin-top: -1px;
}
.table-body {
    overflow-y: scroll;
    position: absolute;
    top: 2.2rem;
    bottom: 0;
    left: 0;
    background-color: darken(@bg-color, 4%);
}
.table td,
.table th {
    white-space: nowrap;
    margin: 0;
    overflow: hidden;
    padding: 8px;
    border: 1px solid darken(@bg-color, 1%);
}
.table-head th {
    cursor: pointer;
    text-align: left;
    background-color: darken(@bg-color, 6%);
    color: var(--primary-color);
    position: relative;
}
.resize-col {
    cursor: col-resize;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 8px;
}
.table tr:hover td {
    background-color: var(--selected-color);
}
.updated {
    color: @color;
    font-weight: 900;
    margin: 16px auto;
    max-width: 300px;
    padding: 16px;
    background-color: @bg-color;
    border-radius: 16px;
    text-align: center;
}
