@bg-color: #292722;
@font-size: 16px;
@color: #ccc;
@border-color: lighten(@bg-color, 8%);
@border-radius: 4px;
@gutter: 10px;

:root {
	--editor-height: 300px;
	--primary-color: #DF620B;
	--selected-color: #864108;
}

