@bg-color: rgb(41, 39, 34);
@font-size: 16px;
@color: #ccc;
@border-color: lighten(@bg-color, 8%);
@border-radius: 4px;
@gutter: 10px;

:root {
    --editor-height: 300px;
    --primary-color: #df620b;
    --selected-color: #864108;
}

.theme--dark-orange {
    --primary-color: #df620b;
    --selected-color: #864108;
}
.theme--dark-lime {
    --primary-color: #93f751;
    --selected-color: #437026;
}
.theme--dark-green {
    --primary-color: #11b919;
    --selected-color: #0d4e13;
}
.theme--dark-blue {
    --primary-color: #6c7dbe;
    --selected-color: #030a29;
}
