<div id="editor" class="editor"></div>
<div class="result table">
  <table class="table-head">
    <tr>
      <th style="width: {{columnWidth($index)}}px" ng-repeat="c in result.metadata.columns" title="{{c.name}}">{{c.name}}</th>
    </tr>
  </table>
  <div class="table-body">
    <table class="table-body-rows">
      <tr ng-repeat="row in result.data">
        <td style="width: {{columnWidth($index)}}px" ng-repeat="value in row track by $index">{{value}}</td>
      </tr>
    </table>
  </div>
</div>
